@using BaoCaoTTCM.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TSanPham>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh mục sản phẩm</h1>
<p>@TempData["Message"]</p>
<p>
    <a asp-action="ThemSanPhamMoi">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Tên SP
            </th>
            <th>
                Mã NCC
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá nhập
            </th>
            <th>
                Đơn giá bán
            </th>
            <th>
                Thời gian bảo hành
            </th>
            <th>
                Ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                <a asp-action="SuaSanPHam" asp-route-masp="@item.MaSp">Edit</a> |
                <a asp-action="XoaSanPham" asp-route-masp="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div style="margin: 0 auto">
    @Html.PagedListPager(Model,page => Url.Action("DanhMucSanPham", new {page=page, maloai = ViewBag.maloai}),new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>