@using BaoCaoTTCM.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TNhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "NhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Nhân Viên</h1>
<p>@TempData["Message"]</p>
<p>
    <a asp-action="ThemNhanVienMoi">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Mã NV
            </th>
            <th>
                Tên NV
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                CCCD
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @{
            int i = 0;
            string @cls = "table-success";
        }

       @foreach (var item in Model) {
                i = i + 1;
                cls = "table-success";
                if (i % 2 == 0)
                {
                    cls = "table-primary";
                }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td>
                <a asp-action="SuaNhanVien" asp-route-manv="@item.MaNv">Edit</a> |
                <a asp-action="XoaNhanVien" asp-route-manv="@item.MaNv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div style="margin: 0 auto">
    @Html.PagedListPager(Model,page => Url.Action("NhanVien", new {page=page, maloai = ViewBag.maloai}),new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>