@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutTrangChu";
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TSanPham>

<div class="row isotope-grid">
	@foreach (var item in Model)
	{
		<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" style="position: absolute; left: 0%; top: 0px;">
			<!-- Block2 -->
			<div class="block2">
				<div class="block2-pic hov-img0">
					<img style="width:270px; height:270px; border:1px solid #EEEEEE;" src="@Url.Content("../images/" + item.Anh)" alt="IMG-PRODUCT">
				</div>

				<div class="block2-txt flex-w flex-t p-t-14">
					<div class="block2-txt-child1 flex-col-l ">
						<a asp-controller="Home" asp-action="ChiTietSanPham" asp-route-maSp="@item.MaSp" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							@item.TenSp
						</a>

						<span class="stext-105 cl3">
							@item.DonGiaBan
						</span>
					</div>

					<div class="block2-txt-child2 flex-r p-t-3">
						<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
							<img class="icon-heart1 dis-block trans-04" src="../images/icons/icon-heart-01.png" alt="ICON">
							<img class="icon-heart2 dis-block trans-04 ab-t-l" src="../images/icons/icon-heart-02.png" alt="ICON">
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<div style="margin: 0 auto">
	@Html.PagedListPager(Model,page => Url.Action("Index", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>